

/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

#hero {
    height: auto;
    min-height: calc(100vh - 50px);
    width: 100%;
    background: url("/images/mobile-landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

#dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: .9;
    top: 0;
}

.heroText {
	padding-top: 70px;
    position: relative;
    z-index: 3;
    height: auto;
    margin-left: 0;
}

.heroText h1 {
	font-size: 1.8em;
	color: #404040;
	text-align: left;
	font-weight: bold;
	overflow-y: hidden;
    margin: 0;
}

.heroText h2 {
	color: #999;
	font-size: 1em;
	text-align: left;
	line-height: 1.6em;
    padding: 30px 0;
    position: relative;
    font-weight: normal;
}

.about-button,
.quote-button {
    width: 188px;
}

.volunteer-button {
    margin-bottom: 10px;
}

/*-- -------------------------- -->
<---           CONNECT          -->
<--- -------------------------- -*/

.banner {
    background: var(--primary);
    padding: 50px 0;
    margin-bottom: 50px;
}

.banner p:first-child {
    text-align: center;
    color: #fff;
    padding: 0 20px;
    margin-bottom: 15px;
    max-width: 550px;
    margin: auto;
    margin-bottom: 16px;
    font-weight: bold;
}

.banner p:last-child {
    text-align: center;
    color: #fff;
    padding: 0 20px;
    font-style: italic;
}

#connect {
    padding-top: 0 !important;
}

#connect h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 2em;
    color: #404040;
}

#connect h3 {
    text-align: center;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.7em;
}

.delivery img {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.delivery h4 {
    font-size: 1.7em;
    margin-top: 30px;
    margin-bottom: 20px;
}

.delivery p {
    margin-bottom: 30px;
}

/*-- -------------------------- -->
<---          MATERIALS         -->
<--- -------------------------- -*/

#materials {
    background: #fbfbfb;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#materials:before {
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("/images/mobile-seweing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: .1;
}

.material-group {
    margin-top: 50px;
}

.material {
    margin: auto;
    margin-top: 70px;
    -webkit-box-shadow: 8px 10px 24px -5px rgba(0,0,0,0.29);
    box-shadow: 8px 10px 24px -5px rgba(0,0,0,0.29);
    padding: 50px 10px;
    border-radius: 5px;
    border-top: 5px solid var(--primary);
    background: #fff;
    max-width: 280px;
}

.material svg {
    width: 100px !important;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

#mask {
    width: 130px !important;
}

.material h3 {
    text-align: center;
    font-size: 1.4em;
}

.materials-button {
    margin: auto;
    margin-top: 70px;
    display: block;
}

/* Level 1 */
@media screen and (min-width: 370px) and (max-width: 500px) {

    .container {
        max-width: 380px;
    }

    .heroText button {
        display: block;
    }

    .volunteer-button {
        margin-bottom: 25px;
    }

}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 840px) {

    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/

    .container {
        max-width: 650px;
    }

    .heroText {
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #home-h {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        font-size: 45px;
    }

    #home-p {
        width: 90%;
        text-align: center;
        padding: 10px;
    }

    #contact-svg {
        width: 280px !important;
        padding-left: 0;
        padding-right: 0;
    }

    .contact-content {
        width: 300px;
    }

}

/* Level 1 */
@media screen and (min-width: 841px) and (max-width: 1023px) {

    .container {
        max-width: 780px;
    }

    #hero {
        background-attachment: fixed;
    }

    #home-h {
        font-size: 40px;
        width: 600px
    }

    #home-p {
        width: 550px;
        margin-bottom: 30px;
    }

    .volunteer-button {
        margin-right: 30px;
    }

    .section {
        padding-top: 75px !important;
        padding-bottom: 75px !important;
    }

    #connect h3 {
        width: 400px;
        margin: auto;
    }

    .delivery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .delivery:last-child {
        margin-bottom: 0;
    }

    .delivery:last-child svg {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .delivery:last-child .text-group {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .delivery:last-child h4, .delivery:last-child p {
        text-align: right;
    }

    .delivery:last-child .text-group button {
        margin-right: 0;
        margin-left: auto;
        display: block;
    }

    .delivery img {
        width: 300px;
        margin: 0;
    }

    .text-group {
        width: 340px;
    }

}

/* Desktop */
@media screen and (min-width: 1024px) {

    .container {
        max-width: 1000px;
    }

    /*-- -------------------------- -->
    <---           LANDING          -->
    <--- -------------------------- -*/

    #hero {
        background: url("/images/landing-2.jpg");
        min-height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
        color: #fff;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .heroText {
        padding: 70px 0 0;
        position: relative;
        z-index: 3;
        height: auto;
        margin-left: 0;
        width: auto !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .heroText h1 {
        font-size: 3em;
        color: #404040;
        text-align: center;
        font-weight: bold;
        overflow-y: hidden;
        margin: 0;
        width: 700px;
        margin-bottom: 40px;
    }

    .heroText h2 {
        color: #666;
        font-size: 1em;
        text-align: center;
        line-height: 1.6em;
        padding: 30px 0;
        width: 600px;
        position: relative;
        font-weight: normal;
        padding: 10px;
        margin-bottom: 40px;
    }

    .about-button {
        width: 188px;
        margin-right: 30px;
    }

    /*-- -------------------------- -->
    <---           CONNECT          -->
    <--- -------------------------- -*/

    .banner p:first-child {
        font-size: 1.1em;
        max-width: 820px;
    }

    .delivery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 100px;
        margin-top: 100px;
        max-width: 900px;
        margin: 130px auto;
    }

    #connect h2 {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    #connect h3 {
        width: 400px;
        margin: auto;
        font-size: 1em;
        color: #666;
    }

    .delivery img {
        -webkit-box-shadow: 10px 10px 35px -16px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 35px -16px rgba(0,0,0,0.75);
    }

    .delivery:first-child {
        margin-bottom: 0;
        transform: translateX(-50px) !important;
    }

    .first-d {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .delivery:last-child {
        margin-bottom: 0;
        margin-top: 80px;
        transform: translateX(50px);
    }

    .delivery:last-child img {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .delivery:last-child .text-group {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .delivery:last-child h4, .delivery:last-child p {
        text-align: right;
    }

    .delivery:last-child .text-group button {
        margin-right: 0;
        margin-left: auto;
        display: block;
    }

    .delivery img {
        width: 450px;
        margin: 0;
    }

    .text-group {
        width: 380px;
    }

    /*-- -------------------------- -->
    <---          MATERIALS         -->
    <--- -------------------------- -*/

    #materials h2 {
        margin: auto;
        text-align: center;
    }

    .material-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-betweens;
            -ms-flex-pack: space-betweens;
                justify-content: space-betweens;
    }

    .material {
        width: 250px;
        margin-top: 0;
        -webkit-transition: .3s ease-in-out !important;
        -o-transition: .3s ease-in-out !important;
        transition: .3s ease-in-out !important;
    }

    #materials:before {
        background: url("/images/sewing.jpg");
        background-attachment: fixed;
    }

    .material:hover {
        -webkit-transform: scale(1.1) !important;
            -ms-transform: scale(1.1) !important;
                transform: scale(1.1) !important;
        cursor: pointer;
        -webkit-transition: .3s ease-in-out !important;
        -o-transition: .3s ease-in-out !important;
        transition: .3s ease-in-out !important;
    }

    .material:first-child {
        height: 221px;
    }

    .material svg {
        width: 70px !important;
    }

    #mask {
        width: 90px !important;
    }

    #mask {
        -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
                transform: translateY(-10px)
    }

    .mask {
        -webkit-transform: translateY(-18px);
            -ms-transform: translateY(-18px);
                transform: translateY(-18px);
    }

}